@using QLBANSACH.Models;
@model List<Giohang>
@{
    ViewBag.Title = "Đơn Đặt Hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center">THÔNG TIN HÀNG HÓA</h2>

<table align="center" style="margin-top: 20px; width: 60%; border-collapse: inherit; " border="1" class="tb-sp">
    <tr class="tr-lksp" style="text-align: center; font-weight:bold">
        <td> Mã sách </td>
        <td> Tên sách </td>
        <td> Ảnh bìa </td>
        <td> Số lượng </td>
        <td> Đơn giá </td>
        <td> Thời gian </td>
        <td> Thành tiền </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="tr-lksp1" style="text-align:center; font-weight:bold">
            <td>@item.iMasach </td>
            <td>@item.sTensach</td>
            <td><img src="~/image/@item.sAnhbia"></td>
            <td>@item.iSoluong</td>
            <td>@String.Format("{0:0,0}", item.dDongia) </td>
            <td>@item.sTenloaithue</td>
            <td>@String.Format("{0:0,0}", item.dThanhtien) </td>

        </tr>
    }
    <tr class="tr-lksp1">
        <td colspan="7">
            Phí giao hàng toàn quốc: 20.000 VNĐ
        </td>
    </tr>
    <tr class="tr-lksp1" style="font-weight: bold; text-align: right; color: red; height: 50px; font-size: 20px;">
        <td colspan="4"> Số lượng sách: @ViewBag.Tongsoluong </td>
        <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VND </td>
    </tr>
</table>

<h2 style="text-align:center; padding-top: 20px;">THÔNG TIN ĐẶT HÀNG</h2>
@{
    KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
}
<table align="center" style="margin-top: 20px; width: 30%; border-collapse: inherit; " border="1" class="tb-sp">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:50px">
            <td class="tr-lksp"> Họ tên khách hàng:</td>
            <td class="tr-lksp2" style="font-weight: bold"> @kh.HoTen </td>
        </tr>
        <tr style="height:50px">
            <td class="tr-lksp"> Địa chỉ:</td>
            <td class="tr-lksp2" style="font-weight:bold"> @kh.DiachiKH </td>
        </tr>
        <tr style="height:50px">
            <td class="tr-lksp"> Điện thoại:</td>
            <td class="tr-lksp2" style="font-weight:bold">@kh.DienthoaiKH </td>
        </tr>
        <tr style="height:50px">
            <td class="tr-lksp"> Ngày đặt:</td>
            <td class="tr-lksp2" style="font-weight:bold"> @DateTime.Now.ToShortDateString() </td>
        </tr>
        <tr style="height:50px">
            <td class="tr-lksp"> Ngày giao hàng:</td>
            <td class="tr-lksp2" style="font-weight:bold">
                <input type="date" name="Ngaygiao" id="html5-date-input" class="form-control" style="width:60%;" />
            </td>
        </tr>
        <tr style="height:50px">
            <td></td>
            <td class="tr-lksp2">
                <input class="buy-now-btn" type="Submit" value="ĐỒNG Ý ĐẶT HÀNG" />
            </td>
        </tr>
    }
</table>

